<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.boot.multiple.ds.dao.MerchandiseShiftKingDeeDao">
    <select id="selectLastVoucher" resultType="org.spring.boot.multiple.ds.bean.Tvoucher">
        select top 1 * from t_voucher order by FVoucherID DESC;
    </select>

    <insert id="addVoucher">
        INSERT INTO t_Voucher
        (FDate,  -- 凭证日期
         FTransDate, -- 业务日期
         FVoucherID,
         FYear, -- FYear
         FPeriod, -- 会计期间
         FGroupID, -- 摘要组内码
         FNumber, -- 摘要编码
         FReference, -- 参考信息
         FExplanation, -- 摘要
         FAttachments, -- 附件张数
         FEntryCount, -- 分录数
         FDebitTotal, -- 借方金额合计
         FCreditTotal, -- 贷方金额合计
         FInternalInd, -- 空-手工凭证,非空-机制凭证
         FChecked, -- 0-未审核,1-已审核
         FPosted, -- 0-未过账,1-已过账
         FPreparerID, -- 制单人
         FCheckerID, -- 审核人
         FPosterID, -- 记账人
         FCashierID, -- 出纳员
         FHandler, -- 会计主管
         FObjectName, -- 其他系统传入凭证对象接口描述
         FParameter, -- 接口参数
         FSerialNum, -- 凭证序号
         FTranType, -- 单据类型
         FOwnerGroupID, -- 制单人所属工作组
         FBrNo,
         FFrameWorkID,
         FApproveID,
         FFootNote,
         FLink,
         UUID
        )
        VALUES
        (
            #{FDate}, -- 凭证日期
            #{FTransDate}, -- 业务日期
            #{FVoucherID},
            #{FYear}, -- FYear
            #{FPeriod}, -- 会计期间
            #{FGroupID}, -- 摘要组内码
            #{FNumber}, -- 摘要编码
            #{FReference}, -- 参考信息
            #{FExplanation}, -- 摘要
            #{FAttachments}, -- 附件张数
            #{FEntryCount}, -- 分录数
            #{FDebitTotal}, -- 借方金额合计
            #{FCreditTotal}, -- 贷方金额合计
            #{FInternalInd}, -- 空-手工凭证,非空-机制凭证
            #{FChecked}, -- 0-未审核,1-已审核
            #{FPosted}, -- 0-未过账,1-已过账
            #{FPreparerID}, -- 制单人
            #{FCheckerID}, -- 审核人
            #{FPosterID}, -- 记账人
            #{FCashierID}, -- 出纳员
            #{FHandler}, -- 会计主管
            #{FObjectName}, -- 其他系统传入凭证对象接口描述
            #{FParameter}, -- 接口参数
            #{FSerialNum}, -- 凭证序号
            #{FTranType}, -- 单据类型
            #{FOwnerGroupID},  -- 制单人所属工作组
            0,
            -1,
            -1,
            '',
            0,
            newid()
        )
    </insert>

    <select id="selectFItemID" resultType="map">
        -- 此处的5表示"仓库"-关联的是t_ItemClass表
        SELECT TOP
            1 detailV.FDetailID
        FROM
            t_ItemDetailV detailV
                INNER JOIN ( SELECT FItemID FROM t_Item WHERE FFullName = #{name} AND FItemClassID = 5) AS t1 ON t1.FItemID = detailV.FItemID
    </select>

    <insert id="addVoucherEntry">
        INSERT INTO t_VoucherEntry (
            FVoucherID,
            FEntryID,
            FExplanation,
            FAccountID,
            FCurrencyID,
            FExchangeRateType,
            FExchangeRate,
            FDC,
            FAmountFor,
            FAmount,
            FQuantity,
            FMeasureUnitID,
            FUnitPrice,
            FInternalInd,
            FAccountID2,
            FSettleTypeID,
            FSettleNo,
            FCashFlowItem,
            FTaskID,
            FResourceID,
            FTransNo,
            FDetailID
        )
        VALUES
        (
            #{FVoucherID},
            #{FEntryID},
            #{FExplanation},
            #{FAccountID},
            #{FCurrencyID},
            #{FExchangeRateType},
            #{FExchangeRate},
            #{FDC},
            #{FAmountFor},
            #{FAmount},
            #{FQuantity},
            #{FMeasureUnitID},
            #{FUnitPrice},
            #{FInternalInd},
            #{FAccountID2},
            #{FSettleTypeID},
            #{FSettleNo},
            #{FCashFlowItem},
            #{FTaskID},
            #{FResourceID},
            #{FTransNo},
            #{FDetailID}
        )
    </insert>
</mapper>